{% extends "base.html" %}
{% block content %}
	<a href="/movies/"> View the movies list</a><br>	
	<a href="/addmovie/"> Add a movie</a><br>
	<a href="/addcategory/"> Add Movie category</a><br>
	<a href="/music/"> View Albums list</a><br>
	<a href="/addmusic/"> Add a album</a><br>
	<a href="/places/"> View Places I visited</a><br>
	<a href="/addplace/"> Add a place I visited</a><br>
	<a href="/addbook/"> Add a Book I read</a><br>
	<a href="/books/"> View all the books I have read</a><br>
{% endblock %}
