<!-- Main component for a primary marketing message or call to action -->
<!--      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

-->
{% extends "basemovie.html" %}
{% block content %}
	<div id="movieslist">
		{% for name in movies %}
		{% load static %}
		<h1><a href="/movies/{{name}}"><img src="{% static "movies/images/icon/{{name.image1.url}}" %}"/>{{name}}</a></h1>
  	     
	<p>Name: {{name}} </p>
         <p>Year: {{name.year}}</p>
         <p>Rating: {{name.rating}}</p>
         <p>Category: {{name.category}}</p>
         <p>Comment: {{name.comment}}</p>
		{% endfor %}	
	</div>

{% endblock %}
