<!-- Main component for a primary marketing message or call to action -->
<!--      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

-->
{% extends "basebook.html" %}
{% block content %}
<h1>This is the Books I have Read</h1>
	<div id="booklist">
		{% for name in books %}
		{% load static %}
	<h2>{{name}}</h2>
	<p>Book: {{name}} </p>
         <p>Author: {{name.author}}</p>
	<p>Year: {{name.year}}</p>
         <p>Read Date: {{name.read_date}}</p>
	  <p>Category: {{name.category}}</p>
	<p>Commant on the book: {{name.comment}}</p>
		{% endfor %}	

	</div>

{% endblock %}
