<!-- Main component for a primary marketing message or call to action -->
<!--      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>

-->
{% extends "basemusic.html" %}
{% block content %}
<h1>This music list</h1>
	<div id="albumlist">
		{% for name in music %}
		{% load static %}
	<h2>{{name}}</h2>
	<p>Album: {{name}} </p>
         <p>Artist Name: {{name.artist}}</p>
         <p>Release date: {{name.release_date}}</p>
         <p>Star rating: {{name.num_stars}}</p>
		{% endfor %}	
	</div>

{% endblock %}
